/* ======================================================
   OEFENEN MET FLEXBOX
========================================================= */

/*Opdracht 2.1: het verplaatsen van de witte tekst in het paarse blok naar onderaan
in het paarse blok
 */


.one {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end; /*hiermee kreeg ik uiteindelijk Olivia 35 jr op de
    plek waar ik wilde, hoe dan?*/
}

/* ## Opdracht 2.2:
Zorg dat de `<div class="two">` er zo uit komt te zien door flexbox te gebruiken: */

.two {
    display: flex;
    align-content: flex-end;

}
/*Edhub stond in een aparte div, ik zag dus geen andere optie dan een ID aan te maken. Jij? */
#Edhub {
    display: flex;
    flex-direction: row-reverse;
    flex-basis: 900px;
}

/* ## Opdracht 2.3:
               Zorg dat de `<div class="three">` er zo uit komt te zien door flexbox te gebruiken: */

.three {
    display:flex;
    align-items: baseline;


}

.three ul {
    display: flex;   /*Nova zei alleen flex op container usually. nog even naar kijken */
    justify-content: space-evenly;
    flex-basis: 450px;
    list-style-type: none;
}

.three div {
    display: flex;
    flex-basis: 660px;
    justify-content: flex-end;
}

/*## Opdracht 2.4:
Zorg dat het login-blok er zo uit komt te zien door flexbox te gebruiken: */

/* eerst gebruikte ik label. Duurde even voor ik erachter kwam, dat ik form moest hebben */

.four {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*## Opdracht 2.5:
Zorg dat de layout van de gele blokken er zo uit komt te zien door flexbox te gebruiken.
Elk blok heeft een minimale breedte van 1/3 van het originele scherm van 1200px.
 **Let op:** er zit ook nog padding op.

![Opdracht 2.5](./assets/five-big.png "Eindresultaat")
*/
.five {
    display: flex;
    flex-wrap: wrap;
}


/*
Als het scherm kleiner wordt, willen we dat de blokken op de volgende regel wrappen
zodra ze niet meer passen:

![Opdracht 2.5](./assets/five-small.png "Eindresultaat")
*/
article {
    flex-basis: 360px;
    flex-grow: 1;
    flex-shrink: 0;

    /*padding is 20 px fyi*/
}